<header class="main-layout full">
    <div class="header-content">
        <div class="logo">
            <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681629704/logo_smny53.png" alt="">
            <h2>airbnb</h2>
        </div>
        <nav>
            <div class="home-nav">
                <span>Your Home Airbnb</span>
            </div>
            <div>
                <span class="language material-symbols-outlined">language</span>
            </div>
            <div class="menu">
                <fa-icon [icon]="faBars"></fa-icon>
                <img [src]="'https://res.cloudinary.com/du63kkxhl/image/upload/v1681630492/user-stay/guest_upcxtq.png'" alt="">
                <!-- <span *ngIf="UserNotification" class="notification">{{UserNotification}}</span> -->
                
            </div>
        </nav>
    </div>
    <app-header-filter></app-header-filter>
</header>